.@{prefix}button {
    display: inline-block;
    line-height: normal;
    white-space: nowrap;
    vertical-align: baseline;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    user-select: none;
    &::-moz-focus-inner {
        padding: 0;
        border: 0;
    }
}
